.add-new {
    // display: flex;
    align-items: center;
    justify-content: space-between;

    .group-btns {
        display: flex;
        gap: 10px;

        .group-icons {
            padding: 0 2px;
        }
    }
}

button {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

.search-input {
    position: relative;
}

.clear,
.loading {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.2);
}

.loading {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.sort-header {
    display: flex;
    justify-content: space-between;

    .icon {
        cursor: pointer;
        padding: 0 2px;
    }
}

.custormize-table {
    width: inherit;
    overflow-x: auto;
}

.pagination {
    justify-content: center;
}
