.body-add-new {
    .red {
        color: red;
    }
}

.user-header {
    .group-icons {
        margin-right: 7px;
    }

    .actions {
        .refresh {
            margin-right: 10px;
        }
    }
}

.custormize-table {
    .edit {
        color: orange;
        padding: 10px;
        cursor: pointer;
    }

    .delete {
        color: red;
        cursor: pointer;
        padding: 10px;
    }
}
